.my-expense{
    display: grid;
    grid-template-columns: 240fr 1000fr;
}
.dash-board{
    display: flex;
}
.dashboard-content{
    display:grid;
    /* grid-template-columns: fr fr 2fr 2fr; */
    max-width: 1200px;
    gap:10px;
}
.income-card{
    grid-column: 1;
    grid-row: 1;
}
.expense-card{
    grid-column: 2;
    grid-row: 1;
}
.market-card{
    grid-column: 3;
    grid-row: 1 /span 2;
}
.spending-card{
    grid-column: 4;
    grid-row: 1 /span 2;
}
.transactions{
    grid-column: 1 /span 3;
    grid-row: 2 ;
}